In [1]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup
import edgar_datafied
import sec
from Humble_Chuck import mysql_helper1 as sql

In [9]:
def get_Acc_num(symbol,form_type):
    url = f"""https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={symbol}&type={form_type}&dateb=&owner=exclude&count=40"""
    
    page = BeautifulSoup(requests.get(url).content)
    
    data_buttons = page.find_all(attrs={'id':'interactiveDataBtn'})
    
    viewers = [x['href'] for x in data_buttons]
    
    return [x.split('accession_number=')[1][:20].replace('-','') for x in viewers]

In [21]:
MSFT_10Ks = get_Acc_num('MSFT','10-K')

In [22]:
MSFT_10Ks

['000156459019027952',
 '000156459018019062',
 '000156459017014900',
 '000119312516662209',
 '000119312515272806',
 '000119312514289961',
 '000119312513310206',
 '000119312512316848',
 '000119312511200680',
 '000119312510171791']

In [23]:
income_stmts = [sec.get_incomeStatement('0000789019',x) for x in MSFT_10Ks]

/Users/schlinkertc/Flatiron/projects/classification/sec.py:23: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 23 of the file /Users/schlinkertc/Flatiron/projects/classification/sec.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  page = BeautifulSoup(requests.get(url).content)

In [25]:
income_stmts[0]

[['Current assets:'],
 ['Cash and cash equivalents', '$ 11,356', '$ 11,946'],
 ['Short-term investments', '122,463', '121,822'],
 ['Total cash, cash equivalents, and short-term investments',
  '133,819',
  '133,768'],
 ['Accounts receivable, net of allowance for doubtful accounts of $411 and $377',
  '29,524',
  '26,481'],
 ['Inventories', '2,063', '2,662'],
 ['Other', '10,146', '6,751'],
 ['Total current assets', '175,552', '169,662'],
 ['Property and equipment, net of accumulated depreciation of $35,330 and $29,223',
  '36,477',
  '29,460'],
 ['Operating lease right-of-use assets', '7,379', '6,686'],
 ['Equity investments', '2,649', '1,862'],
 ['Goodwill', '42,026', '35,683'],
 ['Intangible assets, net', '7,750', '8,053'],
 ['Other long-term assets', '14,723', '7,442'],
 ['Total assets', '286,556', '258,848'],
 ['Current liabilities:'],
 ['Accounts payable', '9,382', '8,617'],
 ['Current portion of long-term debt', '5,516', '3,998'],
 ['Accrued compensation', '6,830', '6,103'],
 ['Short-term income taxes', '5,665', '2,121'],
 ['Short-term unearned revenue', '32,676', '28,905'],
 ['Other', '9,351', '8,744'],
 ['Total current liabilities', '69,420', '58,488'],
 ['Long-term debt', '66,662', '72,242'],
 ['Long-term income taxes', '29,612', '30,265'],
 ['Long-term unearned revenue', '4,530', '3,815'],
 ['Deferred income taxes', '233', '541'],
 ['Operating lease liabilities', '6,188', '5,568'],
 ['Other long-term liabilities', '7,581', '5,211'],
 ['Total liabilities', '184,226', '176,130'],
 ['Commitments and contingencies'],
 ['Stockholders’ equity:'],
 ['Common stock and paid-in capital – shares authorized 24,000',
  ' outstanding 7,643 and 7,677',
  '78,520',
  '71,223'],
 ['Retained earnings', '24,150', '13,682'],
 ['Accumulated other comprehensive loss', '(340)', '(2,187)'],
 ['Total stockholders’ equity', '102,330', '82,718'],
 ["Total liabilities and stockholders' equity", '$ 286,556', '$ 258,848']]

In [26]:
income_dfs = [pd.DataFrame(x) for x in income_stmts]

In [38]:
pd.read_excel('https://www.sec.gov/Archives/edgar/data/789019/000156459019027952/Financial_Report.xlsx',sheet_name=1)

,"INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions",12 Months Ended,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,"Jun. 30, 2019",NaN,"Jun. 30, 2018",NaN,"Jun. 30, 2017"
1,Revenue,125843,NaN,110360,NaN,96571
2,Cost of revenue,42910,NaN,38353,NaN,34261
3,Gross margin,82933,NaN,72007,NaN,62310
4,Research and development,16876,NaN,14726,NaN,13037
5,Sales and marketing,18213,NaN,17469,NaN,15461
6,General and administrative,4885,NaN,4754,NaN,4481
7,Restructuring,0,NaN,0,NaN,306
8,Operating income,42959,NaN,35058,NaN,29025
9,"Other income, net",729,NaN,1416,NaN,876
10,Income before income taxes,43688,NaN,36474,NaN,29901
11,Provision for income taxes,4448,NaN,19903,NaN,4412
12,Net income,39240,[1],16571,[2],25489
13,Earnings per share:,NaN,NaN,NaN,NaN,NaN
14,Basic,5.11,NaN,2.15,NaN,3.29
15,Diluted,5.06,[3],2.13,[4],3.25
16,Weighted average shares outstanding:,NaN,NaN,NaN,NaN,NaN
17,Basic,7673,NaN,7700,NaN,7746
18,Diluted,7753,NaN,7794,NaN,7832
19,Product,NaN,NaN,NaN,NaN,NaN
20,Revenue,66069,NaN,64497,NaN,63811
21,Cost of revenue,16273,NaN,15420,NaN,15175
22,Service and Other,NaN,NaN,NaN,NaN,NaN
23,Revenue,59774,NaN,45863,NaN,32760
24,Cost of revenue,26637,NaN,22933,NaN,19086
25,NaN,NaN,NaN,NaN,NaN,NaN
26,[1],Reflects the $157 million net charge related t...,NaN,NaN,NaN,NaN
27,[2],Reflects the net charge (benefit) related to t...,NaN,NaN,NaN,NaN
28,[3],Reflects the net charge related to the enactme...,NaN,NaN,NaN,NaN
29,[4],Reflects the net charge (benefit) related to t...,NaN,NaN,NaN,NaN

In [ ]:
requests.get('https://www.sec.gov/dera/data/financial-statement-and-notes-data-set.html')